/* Colors */
:root
{
    --mint-cream: #f1f7ee;
    --ash-gray: #b0bea9;
    --cambridge-blue: #92aa83;
    --nyanza: #e0edc5;
    --mindaro: #e7f59e;
    --aquamarine: #5dfdcb;
    --maya-blue: #7cc6fe;
    --alice-blue: #f4faff;
    --cool-gray: #8789c0;
    --black: #08090a;
    --coral-pink: #fb9f89;
    --khaki: #c4af9a;
}


body
{

    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: var(--khaki);
    height: 100vh;

}

.header-container
{
    display: flex;
    justify-content: space-between;
    /* gap: 30px; */
    align-items: center;
    /* padding: 1.5vh; */
    height: 9vh;

}
img{
    border-radius: 20px;
}


.search-bar
{
    border-radius: 48px;
    height: 25px;
    width: auto;
    border: 1px solid var(--ash-gray);
    background-color: rgb(199, 199, 199);
    padding: 0 10px;
}

.search-btn
{
    border-radius: 48px;
    width: fit-content;
    height: 25px;
    border-style: none;


}

.logo-container
{
    /* height: 100%; */
    overflow: hidden;
}

.logo
{
    width: 100px;
    /* height: auto; */
    /* object-fit: contain; */
}

header
{
    background-color: var(--alice-blue);
}

.nav-links
{
    display: flex;
    justify-content: space-around;
    width: 25%;
    list-style: none;


}

.nav-links li a
{
    font-size: large;
    text-decoration: none;
    color: black;

}

.container{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    height: 80vh;
    background-color: var(--khaki);
}

.item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--mint-cream);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.6);
    width: 30%;
    /* height: 350px; */
}
.item-img{
    width: 100%;
    /* height: 100px; */
    /* border-radius: 50%; */
    /* margin-bottom: 10px; */
}
p{
    font-size: small;

}
hr{
    border: none;
    height: 2px;
    background-color: var(--ash-gray);
    width: 100%;
}

.item-bottom{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.footer-left, .footer-right{
    display: flex;

}
.footer-right{
    justify-content: space-around;
}
footer{
    height: 10vh;
    /* display: flex; */
}
.footer-container{
/* height: 100%; */
    width: 100%;
    display:flex;
    justify-content: space-between;
    align-items: flex-end;
    position: absolute;
    bottom: 0;
    /* background-color: var(--black); */

}

.footer-left, .footer-right{
    display: flex;
    /* width: 50%; */

}
.footer-right{
    justify-content: space-evenly;
    

}

footer{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--khaki);
    height: 5vh;
}
.wrapper{
display: flex;
flex-direction: column;
min-height: 100vh;
}
main{
    flex:1;
}