
/* Colors */
:root
{
    --mint-cream: #f1f7ee;
    --ash-gray: #b0bea9;
    --cambridge-blue: #92aa83;
    --nyanza: #e0edc5;
    --mindaro: #e7f59e;
    --aquamarine: #5dfdcb;
    --maya-blue: #7cc6fe;
    --alice-blue: #f4faff;
    --cool-gray: #8789c0;
    --black: #08090a;
    --coral-pink: #fb9f89;
    --khaki: #c4af9a;
}


.header-container
{
    display: flex;
    justify-content: space-between;
    /* gap: 30px; */
    align-items: center;
    /* padding: 1.5vh; */
    height: 9vh;

}
img{
    border-radius: 20px;
}


.search-bar
{
    border-radius: 48px;
    height: 25px;
    width: auto;
    border: 1px solid var(--ash-gray);
    background-color: rgb(199, 199, 199);
    padding: 0 10px;
}

.search-btn
{
    border-radius: 48px;
    width: fit-content;
    height: 25px;
    border-style: none;


}

.logo-container
{
    /* height: 100%; */
    overflow: hidden;
}

.logo
{
    width: 100px;
    /* height: auto; */
    /* object-fit: contain; */
}

header
{
    background-color: var(--alice-blue);
}

.nav-links
{
    display: flex;
    justify-content: space-around;
    width: 25%;
    list-style: none;


}

.nav-links li a
{
    font-size: large;
    text-decoration: none;
    color: black;

}

.footer-left, .footer-right{
    display: flex;
    /* width: 50%; */

}
.footer-right{
    justify-content: space-evenly;
    

}

footer{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--khaki);
    height: 5vh;
}
.wrapper{
display: flex;
flex-direction: column;
min-height: 100vh;
}
main{
    flex:1;
}


.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.box{
    margin: 10%;
}
.form-container {
    /* max-width: 600px; */
    margin: 20px auto;
    padding: 20px;
    background-color: var(--alice-blue);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 40%;
}

h1 {
    text-align: center;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input[type="text"],
input[type="number"],
textarea,
select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
}

.submit-btn {
    background-color: var(--cool-gray);
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}


body{
    background-color: var(--khaki);;
 flex-direction: column;
    display: flex;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    /* background-color: var(--alice-blue); */
    height: 100vh;
    position: relative;
}